*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}
body{
    height: 100vh;
    background: white;
}

.container{
    width: 60%;
    height: 60%;
    display: flex;
    margin: 40px auto;
    /* border: 1px solid black; */
}

/* container left css start */
.container__left{
    width: 65%;
    height: 100%;
    /* background-color: antiquewhite; */
}

.heading{
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 8px;
}

.sub-heading{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.form{
    height: 80%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    /* background-color: rgb(93, 153, 153); */
}

.labels{
    margin-bottom: 8px;
}

.inputs{
    height: 56px;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1px solid #dde1e6;
    padding: 16px 56px 16px 16px;
    transition: all linear 0.9s;
}

.inputs:hover{
    border: 1px solid #000;
}

#textarea{
    resize: none;
    outline: none;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
}

.form-button button{
    cursor: pointer;
    font-size: 12px;
    border-width: 0;
    color: #474b4f;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 50px;
    border-color: #dde1e6;
    background-color: #dde1e6;
}

/* container right css start  */
.container__right{
    width: 35%;
    height: 100%;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color:aqua; */
}
.container__right_card{
    gap: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:#392999
}

.container__right__card-Text{
    gap: 20px;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.container__right-heading-text{
    font-size: 30px;
}
.container__right-sub-heading-text{
    font-size: 20px;
}

@media(max-width:800px){
    .container{
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    .container__left{
        width: 100%;
        margin-bottom: 20px;
    }
    .container__right{
        width: 100%;

    }
    .container__right_card{
        width: 100%;
        padding: 70px 0px 50px;
    }
}

